src/main/mule/world-time-demp-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fd4a63a0-74fa-4ac0-8248-99710a9ed81e" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="721d61fe-97f7-4ef6-a3da-eee8535a97da" >
		<http:request-connection host="worldtimeapi.org"/>
	</http:request-config>
	<flow name="world-time-demp-apiFlow" doc:id="72717638-170b-4f30-bc0b-5e394d6c7284" >
		<http:listener doc:name="Listener" doc:id="bfc636d5-5599-45ec-8725-be508cd10d2f" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="3d388dc1-3394-4f2a-b488-20e8bd242873" config-ref="HTTP_Request_configuration" path="/api/timezone/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
